.new-content{
    padding: 1em;
    text-align: center;
}

.new-shadow{
   box-shadow: 0 2rem 2rem -1rem rgba(10,10,10,.2);
}

.subtle-shadow{
   box-shadow: 0 1rem 1rem -1rem rgba(10,10,10,.2);
}

.text-larger{
    font-size: 4rem;
    font-family: 'Fira Sans';
}

.text-larger-more{
    font-size: 5rem;
    font-family: 'Fira Sans';
}

.size-is-18{
    font-size: 1.125rem;
}

.size-is-14{
    font-size: 0.875rem;
}

.is-fira-sans{
    font-family: 'Fira Sans';
}

.is-underline-red{
    box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);
}

.is-underline-blue{
    box-shadow: inset 0 -6px 0 rgba(36,177,209,.2);
}

.is-underline-yellow{
    box-shadow: inset 0 -6px 0 rgba(245,196,0,.2);
}

.is-underline-purple{
    box-shadow: inset 0 -6px 0 rgba(184,107,255,.2);
}

.is-underline-green{
    box-shadow: inset 0 -6px 0 rgba(35,209,153,.2);
}

.is-number{
        position: absolute;
        font-size: 8.5rem;
        font-weight: 700;
        opacity: .1;
        color: #8f8f8f;
        top: -95px;
    }

    .rotation {
  
        -webkit-animation-name: spinner; 
       -webkit-animation-timing-function: linear; 
       -webkit-animation-iteration-count: infinite; 
       -webkit-animation-duration: 2s; 
       animation-name: spinner; 
       animation-timing-function: linear; 
       animation-iteration-count: infinite; 
       animation-duration: 2s; 
       -webkit-transform-style: preserve-3d; 
       -moz-transform-style: preserve-3d; 
       -ms-transform-style: preserve-3d; 
       transform-style: preserve-3d;
       
       -webkit-transform-origin: center center;  /* Chrome, Safari */
   }
   
     /* WebKit and Opera browsers */ @-webkit-keyframes spinner { 
       from 
       { 
           -webkit-transform: rotateY(0deg); 
       } 
       to { 
           -webkit-transform: rotateY(-360deg); 
       } 
   } /* all other browsers */ 
   @keyframes spinner { 
       from { 
           -moz-transform: rotateY(0deg); 
           -ms-transform: rotateY(0deg); 
           transform: rotateY(0deg); 
       } 
       to 
       { 
           -moz-transform: rotateY(-360deg); 
           -ms-transform: rotateY(-360deg); 
           transform: rotateY(-360deg); 
       
       } 
   }

   .main-bg{
    background-image: linear-gradient(to top, #ececec 0%,#f1f1f1 50%, #ffffff 100%);
   }

   .bg-image{
       background: url(/images/about/img-3.png);
       background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;  
   }

   .spidey{
    position: absolute;
    top: 193px;
    left: 629px;
    right: 585px;
   }