.new-content{
    padding: 1em;
    text-align: center;
}

.new-shadow{
   box-shadow: 0 2rem 2rem -1rem rgba(10,10,10,.2);
}

.text-larger{
    font-size: 4rem;
    font-family: 'Fira Sans';
}

.size-is-18{
    font-size: 1.125rem;
}

.size-is-14{
    font-size: 0.875rem;
}

.is-fira-sans{
    font-family: 'Fira Sans';
}

.is-underline-red{
    box-shadow: inset 0 -6px 0 rgba(255,74,110,.2);
}

.is-underline-blue{
    box-shadow: inset 0 -6px 0 rgba(36,177,209,.2);
}

.is-underline-yellow{
    box-shadow: inset 0 -6px 0 rgba(245,196,0,.2);
}

.is-underline-purple{
    box-shadow: inset 0 -6px 0 rgba(184,107,255,.2);
}

.is-underline-green{
    box-shadow: inset 0 -6px 0 rgba(35,209,153,.2);
}